<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeIOKEBjVNaYyLADgUkQGYt0McZX_p0Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>609634905109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>online-tasks-app</string>
	<key>STORAGE_BUCKET</key>
	<string>online-tasks-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609634905109:ios:53d39a9aa6b21ce7a2721c</string>
</dict>
</plist>